{{ form_start(form) }}
Nom:<br>
    {{ form_widget(form.name) }}<br>
Description:<br>
    {{ form_widget(form.presentation) }}<br>
Pays:<br>
    {{ form_widget(form.country) }}<br>
Importer une image:<br>
    {{ form_widget(form.imageFile) }}<br>
    <button class="btn">{{ button_label|default('Enregistrer') }}</button><br>
{{ form_end(form) }}
