{% extends 'base.html.twig' %}

{% block title %}Liste des régions{% endblock %}

{% block h1 %}
    Liste des régions - Vue des administrateurs
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Pays</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for region in regions %}
            <tr>
                <td>{{ region.id }}</td>
                <td>{{ region.name }}</td>
                <td>{{ region.presentation }}</td>
                <td>{{ region.country }}</td>
                <td>
                    <a href="{{ path('region_show', {'id': region.id}) }}">voir</a>
                    <a href="{{ path('region_edit', {'id': region.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Il n'y a aucune région en base de données! Empressez vous d'en créer</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('region_new') }}">Créer une région</a>
{% endblock %}
