{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <br>
    <h1>Création de compte</h1>

    {{ form_start(registrationForm) }}
    {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control', 'placeholder': 'Pseudo'}}) }}
    <div class="form-error">
        {{ form_errors(registrationForm.username) }}
    </div>
    <div style="height: 10px"></div>
    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
    <div class="form-error">
        {{ form_errors(registrationForm.plainPassword) }}
    </div>
    J'accepte les modalités d'inscription
    {{ form_widget(registrationForm.agreeTerms)}}
    <div class="form-error">
        {{ form_errors(registrationForm.agreeTerms) }}
    </div>

    <button class="btn-dark btn-lg">Valider</button>
    <a href="{{ path('app_login') }}" class="text-dark">J'ai déjà un compte</a>
    {{ form_end(registrationForm) }}
{% endblock %}
