{% extends 'base.html.twig' %}

{% block title %}{{room.summary}}{% endblock %}

{% block h1 %}{{ room.summary }}{% endblock %}

{% block content %}
    <ul>
        {% if room.description is not null %}
            <li>Description: {{ room.description }}</li>
        {% endif %}
        {% if room.superficy is not null %}
            <li>Superficie: {{ room.superficy }}m²</li>
        {% endif %}
        <li>Capacité: {{ room.capacity }} personnes</li>
        <li>Prix: {{ room.price }}€</li>
        <li>Adresse: {{ room.address }} (
            {% for region in room.regions %}
                {{ region.name }}
                {% if not loop.last %}
                    ,
                {% endif %}
            {% endfor %}
            )
        </li>
        <li>Propriétaire: {{ room.owner.familyName }} {{ room.owner.firstname }}</li>
        <li>
            <a href="{{ path('room_like', {id:room.id}) }}">
                {% if liked %}
                    Je n'aime plus cette annonce
                {% else %}
                    J'aime cette annonce
                {% endif %}
            </a>
        </li>
        <li>
            <a href="{{ path('room_book', {id:room.id}) }}">Réserver cette chambre</a>
        </li>
    </ul>
{% endblock %}
