{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}
{% block h1 %}Reservation{% endblock %}
{% block content %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ reservation.dateDebut ? reservation.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ reservation.dateFin ? reservation.dateFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>NbPersonnes</th>
                <td>{{ reservation.nbPersonnes }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ reservation.client.user.username }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reservation_index') }}">back to list</a>

    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">edit</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
