{% extends 'base.html.twig' %}

{% block title %}Chambres{% endblock %}

{% block h1 %}Liste des chambres pour la région {{ region.name }} ({{ region.country }}):{% endblock %}

{% block content %}
    {% set nb_rooms = region.rooms|length %}
    <h3>
        {% if nb_rooms == 0 %}
            Aucune annonce trouvée
        {% elseif nb_rooms == 1 %}
            1 annonce trouvée:
        {% else %}
            {{ nb_rooms }} annonces trouvées:
        {% endif %}
    </h3>

    {% for room in rooms %}
        <a class="btn-outline-dark" role="button" href="{{ path('public_room_show', {id:room.id}) }}"> {{ room.summary }}</a><br>
    {% endfor %}
{% endblock %}
