<!DOCTYPE html>
{% set background_images = [asset('images/background/montreal.jpg'), asset('images/background/campagne.jpg'), asset('images/background/chalet.jpg'), asset('images/background/plage.jpg'), asset('images/background/champ.jpg'), asset('images/background/villa.jpg')] %}
{% set background_image =random(background_images) %}
<html lang="fr">
    <head>
        <meta charset="UTF-8">

        <!-- Affichage en fonction de la taille de l'ecran-->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Welcome!{% endblock %}</title>

            <!-- Bootstrap core CSS -->
            <link href="{{ asset('startbootstrap-shop-homepage-gh-pages/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
            <!-- Custom styles for this template -->
            <link href="{{ asset('startbootstrap-shop-homepage-gh-pages/css/shop-homepage.css') }}" rel="stylesheet">

            <link href="{{ asset('style.css') }}" rel="stylesheet"/>
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" href="{{ asset('images/rbnb.ico') }}">
    </head>
    <body>

    <!-- Barre de menu -->
    {{ include('_navbar.html.twig') }}

    {%  block alerts %}
        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
                {%if type == 'message'%} {% set type = 'info' %} {%endif%}
                <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <p class="text-center">{{ message|raw }}</p>
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %} {# alerts #}

    <div class="container-fluid no-gutters h-100" id="wrapper">
        <div class="row h-100" id="background" style="background-image: url('{{ asset(background_image|e) }}');">
            <div class="col-2"></div>
            <div class="col center">
                {% block body %}
                    <div class="row">
                        <div class="col text-center">
                            <br>
                            <br>
                            <h1>
                                {% block h1 %}{% endblock %}
                            </h1>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div>
            <div class="col-2"></div>
        </div>
        <footer class="bg-dark fixed-bottom text-right">
            &copy; <a class="btn-dark" href="mailto:flore.vatre@telecom-sudparis.eu">VATRE Flore</a>, <a class="btn-dark" href="mailto:remi.lamiaux@telecom-sudparis.eu">LAMIAUX Rémi</a>, Septembre-Novembre 2019
        </footer>
    </div>

        <!-- Bootstrap core JavaScript -->
        <script src="{{ asset('startbootstrap-shop-homepage-gh-pages/vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('startbootstrap-shop-homepage-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    {% block javascripts %}
    {% endblock %}
    </body>
</html>
