<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">

        <!-- Affichage en fonction de la taille de l'ecran-->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap core CSS -->
            <link href="{{ asset('startbootstrap-shop-homepage-gh-pages/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
            <!-- Custom styles for this template -->
            <link href="{{ asset('startbootstrap-shop-homepage-gh-pages/css/shop-homepage.css') }}" rel="stylesheet">

            <link href="{{ asset('style.css') }}" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
    <!-- Barre de menu -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#">Regions</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="
                            {% if is_granted('ROLE_ADMIN') %}
                                {{ path('region_index') }}
                            {% else %}
                                {{ path('region_public_index') }}
                            {% endif %}
                        ">
                            Toutes les régions
                        </a>
                    </div>
                </li>
            </ul>
            {% if is_granted('ROLE_ADMIN') %}
                <ul class="navbar-nav">
                    <li style="color: red">
                        Vous êtes administrateur!
                    </li>
                </ul>
            {% endif %}
            <ul class="navbar-nav ml-auto">
                {% if is_granted('ROLE_ADMIN') %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('list_admin') }}">Gérer les administrateurs</a>
                        </li>
                    </ul>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('room_new') }}">Déposer un annonce</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#">Mon Compte</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{{ path('liked_rooms') }}">Annonces favorites</a>
                        {% if is_granted('ROLE_OWNER') %}
                            <a class="dropdown-item" href="{{ path('room_show_mines') }}">Mes annonces</a>
                        {% endif %}
                        {% if is_granted('ROLE_CLIENT') %}
                            <a class="dropdown-item" href="{{ path('reservation_show_mines')}}">Mes reservations</a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        {% if app.user %}
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
                        {% else %}
                            <a class="dropdown-item" href="{{ path('app_login') }}">Se connecter</a>
                            <a class="dropdown-item" href="{{ path('app_register') }}">Créer un compte</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Fin de la barre de menu-->

    {%  block alerts %}
        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
                {%if type == 'message'%} {% set type = 'info' %} {%endif%}
                <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <p class="text-center">{{ message|raw }}</p>
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %} {# alerts #}

    <div class="container-fluid no-gutters h-100">
        <div class="row h-100">
            <div class="col-2" id="left_margin"></div>
            <div class="col">
                {% block body %}
                    <div class="row">
                        <div class="col text-center">
                            <br>
                            <br>
                            <h1>
                                {% block h1 %}{% endblock %}
                            </h1>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div>
            <div class="col-2" id="right_margin"></div>
        </div>
        <footer class="bg-dark fixed-bottom text-right">
            &copy; <a class="btn-dark" href="mailto:flore.vatre@telecom-sudparis.eu">VATRE Flore</a>, <a class="btn-dark" href="mailto:remi.lamiaux@telecom-sudparis.eu">LAMIAUX Rémi</a>, Novembre 2019
        </footer>
    </div>
    {% block javascripts %}
        <!-- Bootstrap core JavaScript -->
        <script src="{{ asset('startbootstrap-shop-homepage-gh-pages/vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('startbootstrap-shop-homepage-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    {% endblock %}
    </body>
</html>
